<ion-header>
  <ion-toolbar>
    <ion-title>Referencias Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Referencias Personales</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/p720x720/69775399_382101025815763_8535443762095063040_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_eui2=AeHVcGjdFmOVeDOOfIAxdfXn5tDdIROorVzm0N0hE6itXNn2S9dqUoZV_1qRTknO90nwHO0aZ_4-fxOIYF4hlb0t&_nc_ohc=bxrP84M8P00AX9Jzeh-&_nc_ht=scontent.fuio5-1.fna&tp=-6&oh=787d711e6863bab87fd09b0ce381aced&oe=5F5855C4">
    </ion-avatar>
    <ion-label>
      <h2>Carlos Velasco&nbsp; <ion-icon name="call-outline"></ion-icon></h2>
      
      <p><b>(593)</b>09-61525440</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/67645059_2981424755262219_4841379709776297984_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_eui2=AeGO8-kzsg_rrgYYUXH_R_G-bcI48nnLtkBtwjjyecu2QNrPKIBs5U86ijTDqkUDDg8HHZfXbnNn-riLDNtlNfw9&_nc_ohc=U5faO3IOEWgAX8zjUCy&_nc_ht=scontent.fuio5-1.fna&oh=1cc9ca8688b3c40fb90e601725054afd&oe=5F5A6C4E">
    </ion-avatar>
    <ion-label>
      <h2>Edison Giler&nbsp; <ion-icon name="call-outline"></ion-icon></h2>
      
      <p><b>(593)</b>09-84666642</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/s960x960/81706436_3215127348504207_7383619866445479936_o.jpg?_nc_cat=106&_nc_sid=85a577&_nc_eui2=AeGvgDgHeD7BDfxB-ymJXRqG38RQl6zEWhXfxFCXrMRaFa7pGT8oYIJ8Gb_3GPWWzcV4rAh6ZV6-ROgJaFjmbtej&_nc_ohc=AQxicPOqo00AX9LOgBA&_nc_ht=scontent.fuio5-1.fna&_nc_tp=7&oh=e8c9eb71e26bb85c9bdc77ee700f6d74&oe=5F58706A">
    </ion-avatar>
    <ion-label>
      <h2>Marcos Alcívar &nbsp; <ion-icon name="call-outline"></ion-icon></h2>
      
      <p><b>(593)</b>09-95322262</p>
    </ion-label>
  </ion-item>

</ion-list>
<ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="light" href="https://facebook.com/elvismpq">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" href="https://twitter.com/elvisma63739232">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" href="https://www.youtube.com/channel/UCYMefPmjA801gJp6ES0850A?view_as=subscriber">
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

</ion-content>